{% extends 'layouts/_default.twig' %}

{% block main_content %}
	<h1 class="mt-5">Welcome!</h1>
	<p>Please select one of the options below.</p>
	<a class="btn btn-primary" href="/quizzes">View Quizzes</a>
    <a class="btn btn-primary" href="/questions">View Questions</a>
    <a class="btn btn-primary" href="/choices">View Choices</a>
{% endblock %}