{% extends 'layouts/_default.twig' %}

{% block main_content %}
	<div class="my-5">
		<h1>Please Login First</h1>
		<a href="https://github.com/login/oauth/authorize?client_id=5c7e7b4931784167cbff" class="btn btn-primary mt-2">
			Login with GitHub
		</a>
	</div>
{% endblock %}