{% extends "layouts/_default.twig" %}

{% block main_content %}
	<div class="mt-5">
		<h1>Choices<h1>
				<ul class="list-group my-3">
					{% for choice in choices %}
						<li class="list-group-item d-inline-block" style="background-color: #B6B6B4;">
							<p class="small">{{ choice.name }}</p>
							<a class="btn btn-primary" href="/choices/{{ choice.id }}/edit">Edit</a>
							<a class="btn btn-primary" href="/choices/{{ choice.id }}">Details</a>
							<a class="btn btn-danger" href="/choices/{{ choice.id }}/delete">Delete</a>
						</li>
					{% endfor %}
				</ul>

				<a class="btn btn-primary" href="/choices/new">Create a Choice</a>
				<a class="btn btn-primary" href="/">Return Home</a>
			</div>
		{% endblock %}
