{% extends 'layouts/_default.twig' %} 

{% block main_content %}
    <a href="https://github.com/login/oauth/authorize?client_id=5c7e7b4931784167cbff" class="btn btn-primary mt-2">
        Login with GitHub
    </a>
{% endblock %}
